Repository epicmaxco/vuestic-ui, pull requests merged in 2020-10, with the labels that each got.

#427 Slider small bugs #425. focus on mouse click, if keyboard navigation …
  packages/ui/src/components/vuestic-components/va-checkbox/VaCheckbox.vue
  packages/ui/src/components/vuestic-components/va-input/VaInput.demo.vue
  packages/ui/src/components/vuestic-components/va-modal/VaModal.demo.vue
  packages/ui/src/components/vuestic-components/va-slider/VaSlider.vue
  packages/ui/src/components/vuestic-components/va-slider/validateSlider.ts
Labels: partially implemented

#422 docs/inner-loading
  packages/docs/components/page-configs/va-inner-loading/api-options.ts
  packages/docs/components/page-configs/va-inner-loading/page-config.ts
  packages/docs/components/sidebar/navigationScheme.json
  packages/docs/examples/va-inner-loading/Color.vue
  packages/docs/examples/va-inner-loading/Default.vue
  packages/docs/examples/va-inner-loading/Icon.vue
  packages/docs/examples/va-inner-loading/Size.vue
  packages/docs/locales/en/en.json
  packages/docs/locales/es/es.json
  packages/docs/pages/index/inner-loading.vue
  packages/ui/src/components/vuestic-components/va-inner-loading/VaInnerLoading.vue
  packages/ui/src/components/vuestic-components/va-toast/types.d.ts
Labels: docs

#421 docs/button-toggle
  packages/docs/components/page-configs/va-button-toggle/api-options.ts
  packages/docs/components/page-configs/va-button-toggle/page-config.ts
  packages/docs/components/sidebar/navigationRoutes.ts
  packages/docs/examples/va-button-toggle/Colors.vue
  packages/docs/examples/va-button-toggle/Default.vue
  packages/docs/examples/va-button-toggle/Disabled.vue
  packages/docs/examples/va-button-toggle/Sizes.vue
  packages/docs/examples/va-button-toggle/Styles.vue
  packages/docs/locales/en/en.json
  packages/docs/locales/es/es.json
  packages/docs/pages/index/ui-elements/button-toggle.vue
  packages/ui/src/components/vuestic-components/va-button-group/VaButtonGroup.vue
  packages/ui/src/components/vuestic-components/va-button-toggle/VaButtonToggle.vue
Labels: docs, reviewed

#419 docs/button-group
  packages/docs/components/page-configs/va-button-group/api-options.ts
  packages/docs/components/page-configs/va-button-group/page-config.ts
  packages/docs/components/page-configs/va-button-toggle/page-config.ts
  packages/docs/components/sidebar/navigationRoutes.ts
  packages/docs/components/sidebar/navigationScheme.json
  packages/docs/examples/va-button-group/Colors.vue
  packages/docs/examples/va-button-group/Default.vue
  packages/docs/examples/va-button-group/Icons.vue
  packages/docs/examples/va-button-group/Sizes.vue
  packages/docs/examples/va-button-group/Styles.vue
  packages/docs/examples/va-button-toggle/Colors.vue
  packages/docs/examples/va-button-toggle/Disabled.vue
  packages/docs/examples/va-button-toggle/Sizes.vue
  packages/docs/examples/va-button-toggle/Styles.vue
  packages/docs/locales/en/en.json
  packages/docs/locales/es/es.json
  packages/docs/pages/index/ui-elements/button-group.vue
  packages/ui/src/components/vuestic-components/va-button-group/VaButtonGroup.vue
  packages/ui/src/components/vuestic-components/va-button-group/tests/VaButtonGroup.spec.ts
Labels: docs, reviewed
