Repository epicmaxco/vuestic-ui, pull requests merged in 2022-11, with the labels that each got.

#2551 feat(Modal): add beforeClose prop
  packages/docs/src/locales/en/en.json
  packages/docs/src/page-configs/ui-elements/modal/examples/BeforeClose.vue
  packages/docs/src/page-configs/ui-elements/modal/page-config.ts
  packages/ui/src/components/va-modal/VaModal.demo.vue
  packages/ui/src/components/va-modal/VaModal.vue
Labels: FEATURE

#2601 docs: added link to dropdown placement docs to button-dropdown, popov…
  packages/docs/src/locales/en/en.json
Labels: docs

#2599 docs/i18n-service
  packages/docs/src/components/sidebar/navigationRoutes.ts
  packages/docs/src/helpers/DocsHelper.ts
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/services/breakpoints/code-examples/config.ts
  packages/docs/src/page-configs/services/colors-config/code-examples/components-config.ts
  packages/docs/src/page-configs/services/i18n/code-examples/index.ts
  packages/docs/src/page-configs/services/i18n/code-examples/runtime.ts
  packages/docs/src/page-configs/services/i18n/code-examples/setup.ts
  packages/docs/src/page-configs/services/i18n/page-config.ts
  packages/docs/src/page-configs/services/icons-config/code-examples/setup-example.ts
  packages/docs/src/pages/services/i18n.vue
Labels: docs

#2620 Docs/minor fixes 2
  README.md
  packages/docs/src/page-configs/getting-started/configuration-guide/code-examples/colors.ts
  packages/docs/src/page-configs/getting-started/configuration-guide/code-examples/components.ts
  packages/docs/src/page-configs/getting-started/configuration-guide/code-examples/icons.ts
  packages/docs/src/page-configs/getting-started/installation/code-examples/quick-start.ts
  packages/docs/src/page-configs/styles/colors/code-examples/scheme.ts
  packages/docs/src/page-configs/styles/colors/examples/components/colors-grid-card.vue
Labels: docs

#2626 fix: currentPresetName in createVuestic does nothing
  packages/ui/src/services/color-config/plugin/create-color-config-plugin.ts
  packages/ui/src/services/color-config/plugin/index.ts
  packages/ui/src/vuestic-plugin/create-vuestic/create-vuestic-essential.ts
  packages/ui/src/vuestic-plugin/create-vuestic/create-vuestic.ts
Labels: BUG

#2610 Fix/nuxt 1.5.0
  package.json
  packages/nuxt/nuxt.shim.d.ts
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/src/composables/use-composables.ts
  packages/nuxt/src/composables/use-plugin.ts
  packages/nuxt/src/config/components.ts
  packages/nuxt/src/config/composables.ts
  packages/nuxt/src/runtime/composables.ts
  packages/nuxt/src/runtime/plugin.ts
  packages/nuxt/src/types.ts
  packages/nuxt/src/utils/resolve.ts
  yarn.lock
Labels: build, nuxt

#2617 Fix/after release fixes
  packages/docs/src/components/DocsCode.vue
  packages/docs/src/components/header/Header.vue
  packages/docs/src/components/header/components/ColorDropdown.vue
  packages/docs/src/components/header/components/LanguageDropdown.vue
  packages/docs/src/components/header/components/VersionDropdown.vue
  packages/docs/src/components/landing/LandingCustomize.vue
  packages/docs/src/components/landing/LandingFooter.vue
  packages/docs/src/components/landing/LandingHeader.vue
  packages/docs/src/components/landing/LandingOpenSource.vue
  packages/docs/src/components/landing/LandingPreview.vue
  packages/docs/src/components/sidebar/Sidebar.vue
  packages/docs/src/components/sidebar/navigationRoutes.ts
  packages/docs/src/config/vuestic-config.ts
  packages/docs/src/locales/en/en.json
  packages/docs/src/page-configs/ui-elements/button/examples/WithIcon.vue
  packages/docs/src/page-configs/ui-elements/button/examples/WithTextColor.vue
  packages/docs/src/page-configs/ui-elements/split/examples/CustomGrabber.vue
  packages/docs/src/page-configs/ui-elements/tree-view/examples/Filters.vue
  packages/docs/src/page-configs/ui-elements/tree-view/examples/Selectable.vue
  packages/docs/src/pages/index.vue
  packages/ui/src/components/va-badge/_variables.scss
  packages/ui/src/components/va-button/VaButton.vue
  packages/ui/src/components/va-chip/VaChip.vue
  packages/ui/src/components/va-split/VaSplit.vue
Labels: docs, component

#2624 fix(vue-cli-plugin): css imports
  packages/vue-cli-plugin/generator/configs/default.js
  packages/vue-cli-plugin/generator/configs/treeshaking.js
  packages/vue-cli-plugin/generator/index.js
  packages/vue-cli-plugin/generator/templates/vite/vite.config.ejs
  packages/vue-cli-plugin/generator/utils/insertCssImports.js
  packages/vue-cli-plugin/prompts.js
Labels: BUG, vue-cli-plugin

#2652 Counter fixes
  packages/ui/src/components/va-counter/VaCounter.vue
Labels: component

#2650 fix: navigation with arrow keys
  packages/ui/src/components/va-select/VaSelect.vue
Labels: component

#2654 VaDataTable fixes
  packages/ui/src/components/va-data-table/VaDataTable.vue
  packages/ui/src/components/va-data-table/hooks/useStylable.ts
Labels: component

#2670 Fix/#2646
  package.json
  packages/docs/src/locales/en/en.json
  packages/docs/src/page-configs/contribution/guide/page-config.ts
  packages/docs/src/scripts/generators/component/Component.demo.vue.hbs
  packages/docs/src/scripts/generators/component/Component.vue.hbs
  packages/docs/src/scripts/generators/component/api-options.ts.hbs
  packages/docs/src/scripts/generators/component/page-config.ts.hbs
Labels: docs

#2697 Feat/flat collapse and accordion
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/accordion/examples/Flat.vue
  packages/docs/src/page-configs/ui-elements/accordion/page-config.ts
  packages/docs/src/page-configs/ui-elements/collapse/examples/Flat.vue
  packages/docs/src/page-configs/ui-elements/collapse/page-config.ts
  packages/ui/src/components/va-collapse/VaCollapse.vue
Labels: docs, component

#2699 Refactor/color indicator
  packages/ui/src/components/va-color-indicator/VaColorIndicator.demo.vue
  packages/ui/src/components/va-color-indicator/VaColorIndicator.vdemo.vue
  packages/ui/src/components/va-color-indicator/VaColorIndicator.vue
Labels: component

#2729 Feat/sidebar improvements
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/sidebar/examples/Color.vue
  packages/ui/src/components/va-sidebar/VaSidebar.vue
  packages/ui/src/components/va-sidebar/VaSidebarItem/VaSidebarItem.vue
  packages/ui/src/services/color/utils.ts
Labels: docs, component

#2730 Fix: Nuxt 3 colors issue fix
  packages/nuxt/src/composables/use-plugin.ts
  packages/nuxt/src/runtime/plugin.ts
  packages/ui/src/services/color/plugin/create-color-config-plugin.ts
Labels: HIGH PRIORITY, nuxt

#2733 Feat/button slots
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/button/api-options.ts
  packages/ui/src/components/va-button/VaButton.demo.vue
  packages/ui/src/components/va-button/VaButton.vue
Labels: docs, component

#2740 Feat/card horizontal
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/card/examples/Actions.vue
  packages/docs/src/page-configs/ui-elements/card/examples/Horizontal.vue
  packages/docs/src/page-configs/ui-elements/card/page-config.ts
  packages/ui/src/components/va-badge/VaBadge.demo.vue
  packages/ui/src/components/va-card/VaCard.demo.vue
  packages/ui/src/components/va-card/VaCard.vue
  packages/ui/src/components/va-card/components/va-card-actions/VaCardActions.vue
  packages/ui/src/components/va-card/components/va-card-block/VaCardBlock.vue
  packages/ui/src/components/va-card/components/va-card-content/VaCardContent.vue
  packages/ui/src/components/va-card/components/va-card-title/VaCardTitle.vue
  packages/ui/src/components/va-card/index.ts
  packages/ui/src/components/va-card/tests/VaCardActions.spec.disabled.ts
  packages/ui/src/services/vue-plugin/components.ts
Labels: docs, component
