Repository epicmaxco/vuestic-ui, pull requests merged in 2022-09, with the labels that each got.

#2356 chore: update nuxt to rc.9
  packages/nuxt/package.json
  yarn.lock
Labels: nuxt

#2346 [#715] `VaCheckbox` visual updates
  packages/ui/src/components/va-checkbox/_variables.scss
  packages/ui/src/components/va-input/_variables.scss
  packages/ui/src/components/va-input/components/VaMessageList/VaMessageList.vue
  packages/ui/src/components/va-input/components/VaMessageListWrapper.vue
Labels: breaking changes

#2331 [#2292] virtual scroller component
  packages/docs/src/components/DocsApi/ApiDocsPropsRow.vue
  packages/docs/src/components/DocsTable/DocsTable.vue
  packages/docs/src/components/header/components/VersionDropdown.vue
  packages/docs/src/components/landing/LandingAdmin.vue
  packages/docs/src/components/landing/LandingColorTab.vue
  packages/docs/src/components/landing/LandingCustomize.vue
  packages/docs/src/components/landing/LandingEpicmaxBanner.vue
  packages/docs/src/components/landing/LandingHeader.vue
  packages/docs/src/components/landing/SeamlessIntegration/SeamlessIntegration.vue
  packages/docs/src/components/sidebar/SidebarLink.vue
  packages/docs/src/components/sidebar/navigationRoutes.ts
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/virtual-scroller/api-options.ts
  packages/docs/src/page-configs/ui-elements/virtual-scroller/examples/Bench.vue
  packages/docs/src/page-configs/ui-elements/virtual-scroller/examples/CustomKey.vue
  packages/docs/src/page-configs/ui-elements/virtual-scroller/examples/Default.vue
  packages/docs/src/page-configs/ui-elements/virtual-scroller/examples/DifferentContent.vue
  packages/docs/src/page-configs/ui-elements/virtual-scroller/examples/Horizontal.vue
  packages/docs/src/page-configs/ui-elements/virtual-scroller/examples/ItemSize.vue
  packages/docs/src/page-configs/ui-elements/virtual-scroller/page-config.ts
  packages/docs/src/pages/MarkdownTest.vue
  packages/docs/src/pages/index.vue
  packages/docs/src/pages/styles/typography.vue
  packages/docs/src/pages/ui-elements/scroll-container.vue
  packages/docs/src/pages/ui-elements/split.vue
  packages/docs/src/pages/ui-elements/virtual-scroller.vue
  packages/ui/src/components/index.ts
  packages/ui/src/components/va-virtual-scroller/VaVirtualScroller.demo.vue
  packages/ui/src/components/va-virtual-scroller/VaVirtualScroller.vue
  packages/ui/src/components/va-virtual-scroller/index.ts
  packages/ui/src/components/va-virtual-scroller/useVirtualScrollerSizes.ts
  packages/ui/src/composables/index.ts
  packages/ui/src/composables/useTrackBy.ts
  packages/ui/src/services/utils.ts
  packages/ui/src/vuestic-plugin/vuestic-components.ts
Labels: component

#2341 [#2296] grid modifiers separator change
  packages/docs/src/components/DocsApi/ApiDocs.vue
  packages/docs/src/components/header/components/LanguageDropdown.vue
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/services/colors-config/examples/change-colors.vue
  packages/docs/src/page-configs/services/colors-config/examples/css-variable.vue
  packages/docs/src/page-configs/services/icons-config/components/playground.vue
  packages/docs/src/page-configs/styles/css-variables/examples/profile.vue
  packages/docs/src/page-configs/styles/grid/examples/AlignContent.vue
  packages/docs/src/page-configs/styles/grid/examples/AlignDefault.vue
  packages/docs/src/page-configs/styles/grid/examples/AlignJustify.vue
  packages/docs/src/page-configs/styles/grid/examples/AlignSelf.vue
  packages/docs/src/page-configs/styles/grid/examples/Offsets.vue
  packages/docs/src/page-configs/ui-elements/dropdown/examples/PlacementAndOffset.vue
  packages/docs/src/page-configs/ui-elements/slider/examples/Vertical.vue
  packages/sandbox/src/app.vue
  packages/ui/src/components/va-time-picker/VaTimePicker.demo.vue
  packages/ui/src/styles/grid/CssGridTest.demo.vue
  packages/ui/src/styles/grid/_grid-global-styles.scss
  packages/ui/src/styles/grid/_grid-mixins.scss
Labels: breaking changes

#2283 `VaPagination` rework
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/pagination/examples/ActiveColor.vue
  packages/docs/src/page-configs/ui-elements/pagination/examples/Bordered.vue
  packages/docs/src/page-configs/ui-elements/pagination/examples/Gapped.vue
  packages/docs/src/page-configs/ui-elements/pagination/examples/Presets.vue
  packages/docs/src/page-configs/ui-elements/pagination/examples/Rounded.vue
  packages/docs/src/page-configs/ui-elements/pagination/examples/TotalAndPageSize.vue
  packages/docs/src/page-configs/ui-elements/pagination/examples/WithInput.vue
  packages/docs/src/page-configs/ui-elements/pagination/page-config.ts
  packages/ui/src/components/va-button/VaButton.vue
  packages/ui/src/components/va-pagination/VaPagination.demo.vue
  packages/ui/src/components/va-pagination/VaPagination.vue
  packages/ui/src/components/va-pagination/_variables.scss
  packages/ui/src/components/va-pagination/setPaginationRange.ts
  packages/ui/src/composables/useHover.ts
Labels: component

#2409 Fix/test utils
  packages/sandbox/package.json
  packages/sandbox/src/spec/plugin.spec.ts
  packages/sandbox/src/vitest.config.ts
  packages/sandbox/vitest.config.ts
  packages/ui/build/common-config.ts
  packages/ui/src/components/va-time-picker/components/VaTimePickerColumn/VaTimePickerColumn.vue
  yarn.lock
Labels: BUG, build

#2393 [#2316] Update `VaDataTable` filtering example in docs with debounced input
  packages/docs/src/page-configs/ui-elements/data-table/examples/Filtering.vue
Labels: docs

#2392 [#2339] Fix `VaDataTable` css variables (for `sticky` and `scrolled` table)
  packages/docs/src/page-configs/ui-elements/data-table/examples/Sticky.vue
  packages/ui/src/components/va-data-table/VaDataTable.vue
  packages/ui/src/components/va-data-table/_variables.scss
  packages/ui/src/components/va-data-table/hooks/useStylable.ts
Labels: FEATURE

#2391 [#2324] Fix `VaDataTable` inputs width in CRUD example
  packages/docs/src/page-configs/ui-elements/data-table/examples/CRUD.vue
Labels: docs

#2437 fix: make build script to wait until css is built
  packages/ui/build/build.ts
Labels: build

#2442 release(1.4.12): fix missing essential.css file in build.
  packages/sandbox/test/tree-shaking.test.ts
  packages/ui/build/build.ts
  packages/ui/package.json
Labels: BUG, build
