Repository epicmaxco/vuestic-ui, pull requests merged in 2022-08, with the labels that each got.

#2186 fixed roadmap responsiveness on mobile
  packages/docs/src/page-configs/introduction/roadmap/components/roadmap.vue
Labels: docs

#2198 feat: add markdown support to the doc pages
  packages/docs/src/components/DocsContent.vue
  packages/docs/src/helpers/DocsHelper.ts
  packages/docs/src/page-configs/ui-elements/dropdown/page-config.ts
  packages/docs/src/page-configs/ui-elements/dropdown/specs.md
  packages/docs/src/shims-vue.d.ts
  packages/docs/src/types/configTypes.ts
  packages/docs/vue.config.js
Labels: docs, FEATURE

#2201 [#2190] Fix `VaButtonDropdown` dropdown appearance and alignment for `split` and `left-icon`
  packages/docs/src/page-configs/ui-elements/button-dropdown/examples/Colors.vue
  packages/docs/src/page-configs/ui-elements/button-dropdown/examples/Disabled.vue
  packages/docs/src/page-configs/ui-elements/button-dropdown/examples/Events.vue
  packages/docs/src/page-configs/ui-elements/button-dropdown/examples/Icons.vue
  packages/ui/src/components/va-button-dropdown/VaButtonDropdown.vue
Labels: BUG

#2068 [#1725] `VaSplit` component implementation
  packages/docs/src/components/sidebar/navigationRoutes.ts
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/select/examples/Decorators.vue
  packages/docs/src/page-configs/ui-elements/split/api-options.ts
  packages/docs/src/page-configs/ui-elements/split/examples/CustomGrabber.vue
  packages/docs/src/page-configs/ui-elements/split/examples/CustomLimits.vue
  packages/docs/src/page-configs/ui-elements/split/examples/Default.vue
  packages/docs/src/page-configs/ui-elements/split/examples/Disabled.vue
  packages/docs/src/page-configs/ui-elements/split/examples/Maximization.vue
  packages/docs/src/page-configs/ui-elements/split/examples/Nested.vue
  packages/docs/src/page-configs/ui-elements/split/examples/Snapping.vue
  packages/docs/src/page-configs/ui-elements/split/examples/Vertical.vue
  packages/docs/src/page-configs/ui-elements/split/page-config.ts
  packages/docs/src/pages/ui-elements/split.vue
  packages/ui/src/components/index.ts
  packages/ui/src/components/va-backtop/VaBacktop.vue
  packages/ui/src/components/va-split/VaSplit.demo.vue
  packages/ui/src/components/va-split/VaSplit.vue
  packages/ui/src/components/va-split/_variables.scss
  packages/ui/src/components/va-split/index.ts
  packages/ui/src/components/va-split/types.ts
  packages/ui/src/components/va-split/useSplitDragger.ts
  packages/ui/src/styles/global/_utility-global.scss
  packages/ui/src/vuestic-plugin/vuestic-components.ts
Labels: component

#2239 feat: add input type attribute usage example
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/input/examples/Mask.vue
  packages/docs/src/page-configs/ui-elements/input/examples/Types.vue
  packages/docs/src/page-configs/ui-elements/input/page-config.ts
  packages/ui/src/styles/global/reset.scss
Labels: docs, EXTERNAL

#2220 fix(docs): contribution icon and wrong vuestic css paths.
  packages/docs/src/components/header/Header.vue
  packages/docs/src/helpers/CodeSandboxExample.ts
  packages/docs/src/helpers/CodeSandboxIconsHelper.ts
  packages/docs/src/page-configs/getting-started/configuration-guide/code-examples/colors.ts
  packages/docs/src/page-configs/getting-started/configuration-guide/code-examples/components.ts
  packages/docs/src/page-configs/getting-started/configuration-guide/code-examples/icons.ts
Labels: BUG, docs

#2293 Change value getter methods for the modelValue getter
  packages/ui/src/components/va-select/VaSelect.vue
Labels: BUG

#2279 fix(nuxt): move explicitly used imports to dependencies.
  packages/bundlers-tests/package.json
  packages/nuxt/package.json
  packages/nuxt/src/composables/use-plugin.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugin.ts
  yarn.lock
Labels: nuxt

#2278 fix: floating dropdown position
  packages/ui/src/components/va-dropdown/VaDropdown.vue
  packages/ui/src/composables/useDropdown.ts
Labels: BUG

#2319 Fix#2314/fonts nuxt module option
  packages/docs/src/locales/en/en.json
  packages/docs/src/page-configs/getting-started/nuxt/page-config.ts
  packages/nuxt/src/composables/use-css.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/types.ts
Labels: nuxt

#2306 feat/sandbox
  package.json
  packages/README.md
  packages/bundlers-tests/README.md
  packages/bundlers-tests/build-vuestic-ui.sh
  packages/bundlers-tests/jest.config.ts
  packages/bundlers-tests/nuxt.config.ts
  packages/nuxt/nuxt.shim.d.ts
  packages/nuxt/package.json
  packages/nuxt/src/runtime/plugin.ts
  packages/sandbox/.gitignore
  packages/sandbox/README.md
  packages/sandbox/index.html
  packages/sandbox/nuxt.config.ts
  packages/sandbox/package.json
  packages/sandbox/src/app.vue
  packages/sandbox/src/main.ts
  packages/sandbox/src/shims-vue.d.ts
  packages/sandbox/src/vite-env.d.ts
  packages/sandbox/test/tree-shaking.test.ts
  packages/sandbox/tsconfig.json
  packages/sandbox/vite.config.ts
  packages/sandbox/vue.config.js
  packages/ui/build/build.ts
  packages/ui/build/common-config.ts
  packages/ui/build/plugins/append-component-css.ts
  packages/ui/build/plugins/fix-import-hell.ts
  packages/ui/build/types/define-vite-plugin.ts
  packages/ui/build/types/define-vuestic-build.ts
  packages/ui/package.json
  packages/ui/src/composables/useModalLevel.ts
  yarn.lock
Labels: test, build
