Repository epicmaxco/vuestic-ui, pull requests merged in 2023-05, with the labels that each got.

#3383 [#3380] Add menu button in docs navbar for mobile
  packages/docs/components/AlgoliaSearch.vue
  packages/docs/components/landing/Footer.vue
  packages/docs/components/layout/Header.vue
  packages/docs/components/layout/header/ThemeSwitch.vue
  packages/docs/layouts/default.vue
  packages/docs/translations/en.json
Labels: docs

#3348 `Va-Tabs` flex direction
  packages/docs/page-config/ui-elements/tabs/examples/Color.vue
  packages/docs/page-config/ui-elements/tabs/examples/Pagination.vue
  packages/docs/page-config/ui-elements/tabs/index.ts
  packages/ui/src/components/va-tabs/VaTabs.demo.vue
  packages/ui/src/components/va-tabs/VaTabs.vue
Labels: BUG, docs

#3387 Fix/dark theme blink
  packages/docs/components/layout/header/ThemeSwitch.vue
  packages/docs/composables/useTheme.ts
  packages/docs/config/vuestic-config.ts
  packages/docs/layouts/default.vue
  packages/nuxt/nuxt.shim.d.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugin.ts
  packages/nuxt/src/types.ts
Labels: docs, nuxt

#3394 fix(docs): jumping link anchor
  packages/docs/modules/page-config/blocks/headline/index.vue
  packages/docs/modules/page-config/blocks/shared/anchor/Anchor.vue
  packages/docs/modules/page-config/blocks/subtitle/index.vue
  packages/docs/modules/page-config/blocks/title/index.vue
Labels: docs

#3402 Remove landing banner
  packages/docs/pages/index.vue
Labels: docs

#3428 fix(docs): markdown external link break lists
  packages/docs/modules/markdown/runtime/plugins/external-links.ts
Labels: docs

#3423 [#3209] `VaButtonGroup` gradient
  packages/docs/page-config/ui-elements/button-group/examples/Colors.vue
  packages/docs/page-config/ui-elements/button-group/examples/Gradient.vue
  packages/docs/page-config/ui-elements/button-group/examples/Icons.vue
  packages/docs/page-config/ui-elements/button-group/examples/Sizes.vue
  packages/docs/page-config/ui-elements/button-group/examples/Styles.vue
  packages/ui/src/components/va-button-group/VaButtonGroup.vue
Labels: BUG

#3403 fix(#3399/build): import css in type_script files, so it is not tree-…
  packages/ui/build/plugins/append-component-css.ts
Labels: BUG, build

#3388 Feat/va config colors
  packages/docs/layouts/landing.vue
  packages/ui/src/components/va-config/VaConfig.demo.vue
  packages/ui/src/components/va-config/VaConfig.vue
  packages/ui/src/components/va-config/hooks/useGlobalConfigProvider.ts
  packages/ui/src/composables/useColors.ts
  packages/ui/src/services/color/config/default.ts
  packages/ui/src/services/color/config/make-config.ts
  packages/ui/src/services/color/tests/color-config.spec.ts
  packages/ui/src/utils/headless.ts
  packages/ui/src/utils/merge-deep.ts
Labels: feature

#3360 [#3343] ResizeObserver error in `VaTabs`
  packages/ui/src/components/va-tabs/VaTabs.demo.vue
  packages/ui/src/components/va-tabs/VaTabs.vue
Labels: BUG

#3431 feat#3392: make currentPresetName a writable computed
  packages/ui/src/composables/useColors.ts
Labels: feature

#3435 fix(docs): fix theme switch on SSG
  package.json
  packages/docs/components/HeaderBanner.vue
  packages/docs/composables/useDocsScroll.ts
  packages/docs/layouts/default.vue
  packages/docs/layouts/landing.vue
  packages/docs/modules/page-config/runtime/usePageConfig.ts
  packages/docs/nuxt.config.ts
  packages/docs/package.json
  packages/docs/page-config/extensions/unocss/translation/en.json
  packages/docs/page-config/extensions/unocss/translation/ru.json
  packages/docs/page-config/getting-started/ssr-guide/index.ts
  packages/docs/pages/404.vue
  packages/docs/pages/[page-config-category]/[page].vue
  packages/nuxt/src/runtime/plugin.ts
  packages/ui/src/composables/useColors.ts
  packages/ui/src/services/color/plugin/create-color-config-plugin.ts
  packages/ui/src/services/global-config/global-config.ts
  packages/ui/src/services/global-config/plugin/index.ts
Labels: docs

#3393 Docs/update colors docs
  packages/docs/page-config/services/colors-config/code/icons-config.ts
  packages/docs/page-config/services/colors-config/examples/change-colors.vue
  packages/docs/page-config/services/colors-config/index.ts
  packages/docs/page-config/styles/colors/code/scheme.ts
  packages/docs/page-config/styles/colors/components/Components.vue
  packages/docs/page-config/styles/colors/components/PaletteGrid.vue
  packages/docs/page-config/styles/colors/components/components/PaletteGridCard.vue
  packages/docs/page-config/styles/colors/components/components/colors-grid.vue
  packages/docs/page-config/styles/colors/components/theme-examples.vue
  packages/docs/page-config/styles/colors/components/theme.vue
  packages/docs/page-config/styles/colors/examples/CssVariables.vue
  packages/docs/page-config/styles/colors/examples/CustomAlert.vue
  packages/docs/page-config/styles/colors/examples/LocalThemeSwitcher.vue
  packages/docs/page-config/styles/colors/examples/ThemeSwitcher.vue
  packages/docs/page-config/styles/colors/examples/Utility.vue
  packages/docs/page-config/styles/colors/index.ts
  packages/docs/page-config/styles/colors/translation/en.json
  packages/ui/src/composables/useColors.ts
Labels: docs

#3412 [#3279] VaDataTable docs improvement
  packages/docs/modules/page-config/blocks/alert/index.vue
  packages/docs/modules/page-config/blocks/api/components/api-table.vue
  packages/docs/modules/page-config/blocks/api/index.vue
  packages/docs/modules/page-config/blocks/api/types.ts
  packages/docs/modules/page-config/blocks/example/index.vue
  packages/docs/page-config/ui-elements/data-table/api-options.ts
  packages/docs/page-config/ui-elements/data-table/examples/Binding.vue
  packages/docs/page-config/ui-elements/data-table/examples/CRUD.vue
  packages/docs/page-config/ui-elements/data-table/examples/ColgroupSlots.vue
  packages/docs/page-config/ui-elements/data-table/examples/CustomSlots.vue
  packages/docs/page-config/ui-elements/data-table/examples/Default.vue
  packages/docs/page-config/ui-elements/data-table/examples/ExpandableRow.vue
  packages/docs/page-config/ui-elements/data-table/examples/Filtering.vue
  packages/docs/page-config/ui-elements/data-table/examples/InlineEditing.vue
  packages/docs/page-config/ui-elements/data-table/examples/Other.vue
  packages/docs/page-config/ui-elements/data-table/examples/Pagination.vue
  packages/docs/page-config/ui-elements/data-table/examples/Selection.vue
  packages/docs/page-config/ui-elements/data-table/examples/SelectionWithKeys.vue
  packages/docs/page-config/ui-elements/data-table/examples/Sorting.vue
  packages/docs/page-config/ui-elements/data-table/examples/StaticSlots.vue
  packages/docs/page-config/ui-elements/data-table/examples/Sticky.vue
  packages/docs/page-config/ui-elements/data-table/examples/Styling.vue
  packages/docs/page-config/ui-elements/data-table/index.ts
  packages/docs/translations/en.json
  packages/docs/translations/ru.json
  packages/ui/src/components/va-data-table/VaDataTable.vue
  packages/ui/src/components/va-data-table/components/VaDataTableThRow.vue
  packages/ui/src/components/va-data-table/hooks/useRows.ts
  packages/ui/src/components/va-data-table/types.ts
  packages/ui/src/components/va-value/VaValue.vue
Labels: docs

#3367 chore(docs): added missing props translations
  packages/docs/page-config/ui-elements/carousel/api-options.ts
  packages/docs/page-config/ui-elements/image/api-options.ts
  packages/docs/translations/en.json
  packages/ui/src/components/va-date-input/VaDateInput.vue
  packages/ui/src/components/va-pagination/VaPagination.vue
Labels: BUG, docs

#3446 Fix/color config
  packages/docs/components/layout/Sidebar.vue
  packages/docs/layouts/default.vue
  packages/docs/page-config/ui-elements/config/examples/Colors.vue
  packages/docs/page-config/ui-elements/config/examples/Components.vue
  packages/docs/page-config/ui-elements/config/examples/Default.vue
  packages/docs/page-config/ui-elements/config/examples/Internalization.vue
  packages/docs/page-config/ui-elements/config/index.ts
  packages/docs/page-config/ui-elements/config/translation/en.json
  packages/ui/src/components/va-button-toggle/types.ts
  packages/ui/src/components/va-color-input/VaColorInput.vue
  packages/ui/src/components/va-config/VaConfig.vue
  packages/ui/src/components/va-config/hooks/useGlobalConfigProvider.ts
  packages/ui/src/services/color/config/make-config.ts
Labels: docs

#3379 [#3362] Sidebar on mobile
  packages/docs/components/layout/Header.vue
  packages/docs/components/layout/Sidebar.vue
  packages/docs/components/layout/header/HeaderSelector.vue
  packages/docs/layouts/default.vue
Labels: docs
