Repository epicmaxco/vuestic-ui, pull requests merged in 2023-11, with the labels that each got.

#3986 fix(build): append css to non-script components
  packages/ui/build/plugins/append-component-css.ts
Labels: build

#3971 docs/update icon docs 'name' prop description to reflect changes requ…
  packages/docs/modules/page-config/blocks/api/common-description.ts
  packages/docs/page-config/ui-elements/icon/api-description.ts
Labels: docs

#3983 add alts to images
  packages/docs/components/landing/Features.vue
  packages/docs/page-config/introduction/roadmap/images/1.6/autoComplete.vue
  packages/docs/page-config/ui-elements/list/examples/Clickable.vue
  packages/docs/page-config/ui-elements/list/examples/Default.vue
  packages/docs/page-config/ui-elements/list/examples/Disabled.vue
  packages/docs/page-config/ui-elements/list/examples/Fit.vue
  packages/docs/page-config/ui-elements/list/examples/Lines.vue
  packages/ui/src/components/va-content/VaContent.demo.vue
  packages/ui/src/components/va-list/VaList.demo.vue
Labels: docs

#3978 Docs update
  packages/docs/modules/page-config/blocks/api/common-description.ts
  packages/docs/page-config/navigationRoutes.ts
  packages/docs/page-config/ui-elements/data-table/api-description.ts
  packages/docs/page-config/ui-elements/data-table/api-options.ts
Labels: docs

#4007 add change log anchor
  packages/docs/modules/page-config/blocks/change-log/index.vue
Labels: docs

#4006 fix: import nuxt composables from #imports
  packages/docs/modules/banner/runtime/banner.ts
  packages/docs/modules/google-analytics/runtime/plugin.ts
  packages/nuxt/nuxt.shim.d.ts
  packages/nuxt/src/runtime/plugin.ts
Labels: nuxt

#3968 feat(forms): dirty state
  packages/ui/src/components/va-select/VaSelect.stories.ts
  packages/ui/src/composables/useForm/types.ts
  packages/ui/src/composables/useForm/useForm.ts
  packages/ui/src/composables/useForm/useFormParent.ts
  packages/ui/src/composables/useValidation.ts
  packages/ui/src/utils/types/readonly-array-keys.ts
  packages/ui/src/utils/watch-setter.ts
Labels: feature

#3963 Stories rework: VaSkeleton
  packages/ui/src/components/va-avatar/VaAvatar.stories.ts
  packages/ui/src/components/va-skeleton/VaSkeleton.demo.vue
  packages/ui/src/components/va-skeleton/VaSkeleton.stories.ts
Labels: storybook

#4037 fix(#4034): focus stuck on time input component
  packages/ui/src/components/va-time-input/VaTimeInput.vue
Labels: BUG

#4043 Stories typechecking fix (#4042)
  packages/ui/.storybook/vuestic-config/demo-icon-aliases.ts
  packages/ui/package.json
  packages/ui/src/components/va-accordion/VaAccordion.stories.ts
  packages/ui/src/components/va-affix/VaAffix.stories.ts
  packages/ui/src/components/va-alert/VaAlert.stories.ts
  packages/ui/src/components/va-app-bar/VaAppBar.stories.ts
  packages/ui/src/components/va-backtop/VaBacktop.stories.ts
  packages/ui/src/components/va-carousel/VaCarousel.stories.ts
  packages/ui/src/components/va-counter/VaCounter.stories.ts
  packages/ui/src/components/va-data-table/VaDataTable.new.demo.vue
  packages/ui/src/components/va-date-input/VaDateInput.demo.vue
  packages/ui/src/components/va-date-input/types.ts
  packages/ui/src/components/va-date-picker/VaDatePicker.demo.vue
  packages/ui/src/components/va-form/VaForm.stories.ts
  packages/ui/src/components/va-input/VaInput.demo.vue
  packages/ui/src/components/va-select/VaSelect.stories.ts
  packages/ui/src/components/va-stepper/VaStepper.demo.vue
  packages/ui/src/components/va-stepper/types.ts
  packages/ui/src/components/va-switch/VaSwitch.stories.ts
  packages/ui/src/components/va-tree-view/VaTreeView.stories.ts
  packages/ui/src/components/va-tree-view/VaTreeViewKeyboardNavigation.stories.ts
  packages/ui/src/components/va-value/VaValue.stories.ts
  packages/ui/src/components/va-viewer/VaViewer.stories.ts
  packages/ui/src/components/va-virtual-scroller/VaVirtualScroller.stories.ts
  packages/ui/src/composables/useElementBackground.stories.ts
  packages/ui/src/services/color/ColorCSSVariablesUpdater.stories.ts
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
Labels: storybook
