Repository epicmaxco/vuestic-ui, pull requests merged in 2023-01, with the labels that each got.

#2826 fix: button state colors for safari browsers
  packages/ui/src/components/va-button/hooks/useButtonTextColor.ts
Labels: component

#2809 docs: adding document for `colors` of `useColors`
  packages/docs/src/locales/en/en.json
  packages/docs/src/page-configs/services/colors-config/page-config.ts
Labels: docs

#2842 fix(#2839): do not register vuestic-ui.css in nuxt which contains all…
  packages/nuxt/src/composables/use-css.ts
Labels: BUG, nuxt

#2867 Feat/fallback component
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/locales/zh-cn/zh-cn.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/va-avatar/VaAvatar.demo.vue
  packages/ui/src/components/va-avatar/VaAvatar.vue
  packages/ui/src/components/va-avatar/hooks/useAvatarProps.ts
  packages/ui/src/components/va-fallback/VaFallback.vue
  packages/ui/src/components/va-fallback/index.ts
  packages/ui/src/services/vue-plugin/components.ts
Labels: component

#2861 Docs/create vuestic
  packages/docs/src/locales/en/en.json
  packages/docs/src/page-configs/getting-started/installation/page-config.ts
  packages/docs/src/page-configs/getting-started/nuxt/page-config.ts
Labels: docs

#2868 [#2227] [#2537] `va-image` rework, new `va-aspect-ratio` component
  packages/docs/src/components/sidebar/navigationRoutes.ts
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/aspect-ratio/api-options.ts
  packages/docs/src/page-configs/ui-elements/aspect-ratio/examples/Default.vue
  packages/docs/src/page-configs/ui-elements/aspect-ratio/examples/WithOtherComponents.vue
  packages/docs/src/page-configs/ui-elements/aspect-ratio/page-config.ts
  packages/docs/src/page-configs/ui-elements/card/examples/Ratio.vue
  packages/docs/src/page-configs/ui-elements/card/page-config.ts
  packages/docs/src/page-configs/ui-elements/image/api-options.ts
  packages/docs/src/page-configs/ui-elements/image/examples/Contain.vue
  packages/docs/src/page-configs/ui-elements/image/examples/Default.vue
  packages/docs/src/page-configs/ui-elements/image/examples/DefaultSlot.vue
  packages/docs/src/page-configs/ui-elements/image/examples/ErrorSlot.vue
  packages/docs/src/page-configs/ui-elements/image/examples/Fit.vue
  packages/docs/src/page-configs/ui-elements/image/examples/LoaderSlot.vue
  packages/docs/src/page-configs/ui-elements/image/examples/Ratio.vue
  packages/docs/src/page-configs/ui-elements/image/examples/Slots.vue
  packages/docs/src/page-configs/ui-elements/image/examples/SrcSet.vue
  packages/docs/src/page-configs/ui-elements/image/page-config.ts
  packages/docs/src/pages/ui-elements/aspect-ratio.vue
  packages/ui/src/components/index.ts
  packages/ui/src/components/va-aspect-ratio/VaAspectRatio.demo.vue
  packages/ui/src/components/va-aspect-ratio/VaAspectRatio.vue
  packages/ui/src/components/va-aspect-ratio/_variables.scss
  packages/ui/src/components/va-aspect-ratio/index.ts
  packages/ui/src/components/va-image/VaImage.demo.vue
  packages/ui/src/components/va-image/VaImage.vue
  packages/ui/src/components/va-image/_variables.scss
  packages/ui/src/components/va-image/hooks/useNativeImgAttributes.ts
  packages/ui/src/services/vue-plugin/components.ts
Labels: breaking changes

#2797 [#1180] `VaDataTable` grid mode
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/page-configs/ui-elements/data-table/examples/Grid.vue
  packages/docs/src/page-configs/ui-elements/data-table/page-config.ts
  packages/ui/src/components/va-data-table/VaDataTable.new.demo.vue
  packages/ui/src/components/va-data-table/VaDataTable.vue
  packages/ui/src/components/va-data-table/_variables.scss
  packages/ui/src/components/va-data-table/components/VaDataTableThRow.vue
  packages/ui/src/components/va-data-table/components/index.ts
  packages/ui/src/components/va-data-table/hooks/useAnimationName.ts
  packages/ui/src/components/va-data-table/hooks/useBinding.ts
  packages/ui/src/components/va-data-table/hooks/useColumns.ts
  packages/ui/src/components/va-data-table/hooks/useCommonProps.ts
  packages/ui/src/components/va-data-table/hooks/useFilterable.ts
  packages/ui/src/components/va-data-table/hooks/usePaginatedRows.ts
  packages/ui/src/components/va-data-table/hooks/useRows.ts
  packages/ui/src/components/va-data-table/hooks/useSelectableRow.ts
  packages/ui/src/components/va-data-table/hooks/useSortable.ts
  packages/ui/src/components/va-data-table/hooks/useStylable.ts
  packages/ui/src/components/va-data-table/hooks/useTableScroll.ts
Labels: docs, FEATURE

#2879 Feat/css colors helpers
  packages/docs/src/components/sidebar/navigationRoutes.ts
  packages/docs/src/locales/en/en.json
  packages/docs/src/locales/ru/ru.json
  packages/docs/src/locales/zh-cn/zh-cn.json
  packages/docs/src/page-configs/getting-started/configuration-guide/code-examples/colors-classes.ts
  packages/docs/src/page-configs/getting-started/configuration-guide/code-examples/index.ts
  packages/docs/src/page-configs/getting-started/configuration-guide/page-config.ts
  packages/docs/src/page-configs/services/colors-classes/code-examples/colors-classes-type.ts
  packages/docs/src/page-configs/services/colors-classes/code-examples/index.ts
  packages/docs/src/page-configs/services/colors-classes/code-examples/setup-example.ts
  packages/docs/src/page-configs/services/colors-classes/examples/Default.vue
  packages/docs/src/page-configs/services/colors-classes/page-config.ts
  packages/docs/src/pages/services/colors-classes.vue
  packages/ui/src/services/colors-classes/config/default.ts
  packages/ui/src/services/colors-classes/index.ts
  packages/ui/src/services/colors-classes/plugin/index.ts
  packages/ui/src/services/colors-classes/types.ts
  packages/ui/src/services/global-config/global-config.ts
  packages/ui/src/services/global-config/types.ts
  packages/ui/src/services/vue-plugin/create-vuestic/create-vuestic.ts
Labels: docs, FEATURE
