Repository epicmaxco/vuestic-ui, pull requests merged in 2023-04, with the labels that each got.

#3278 [#3036] Round `VaButton`
  packages/docs/page-config/ui-elements/button/examples/WithRound.vue
  packages/ui/src/components/va-button/VaButton.demo.vue
  packages/ui/src/components/va-button/VaButton.vue
  packages/ui/src/components/va-button/_variables.scss
Labels: BUG

#3274 [#3241] `VaDataTable` `hoverable` and `striped` styles
  packages/docs/page-config/ui-elements/data-table/examples/ExpandableRow.vue
  packages/ui/src/components/va-data-table/VaDataTable.vue
  packages/ui/src/styles/resources/_mixins.scss
Labels: BUG

#3271 [#3258] `VaDateInput` dropdown behaviour on content click
  packages/ui/src/components/va-date-input/VaDateInput.vue
  packages/ui/src/components/va-time-input/VaTimeInput.vue
  packages/ui/src/components/va-time-picker/components/VaTimePickerColumn/VaTimePickerColumn.vue
Labels: BUG

#3252 [#3161, #3240] Counter steps
  packages/docs/page-config/ui-elements/counter/examples/Buttons.vue
  packages/docs/page-config/ui-elements/counter/examples/ButtonsStyle.vue
  packages/docs/page-config/ui-elements/counter/examples/Default.vue
  packages/docs/page-config/ui-elements/counter/examples/Hint.vue
  packages/docs/page-config/ui-elements/counter/examples/IconsColors.vue
  packages/docs/page-config/ui-elements/counter/examples/MaxMinStep.vue
  packages/docs/page-config/ui-elements/counter/examples/Slots.vue
  packages/docs/page-config/ui-elements/counter/examples/State.vue
  packages/docs/page-config/ui-elements/counter/examples/Style.vue
  packages/docs/page-config/ui-elements/counter/examples/Width.vue
  packages/ui/src/components/va-counter/VaCounter.demo.vue
  packages/ui/src/components/va-counter/VaCounter.vue
  packages/ui/src/components/va-input/components/VaInputWrapper/VaInputWrapper.vue
Labels: BUG, docs

#3294 [#2864] `VaSwitch` height
  packages/docs/page-config/ui-elements/switch/examples/Color.vue
  packages/docs/page-config/ui-elements/switch/examples/Error.vue
  packages/docs/page-config/ui-elements/switch/examples/Indeterminate.vue
  packages/docs/page-config/ui-elements/switch/examples/InnerLabel.vue
  packages/docs/page-config/ui-elements/switch/examples/Label.vue
  packages/docs/page-config/ui-elements/switch/examples/Size.vue
  packages/docs/page-config/ui-elements/switch/examples/State.vue
  packages/ui/src/components/va-switch/VaSwitch.vue
Labels: BUG

#3316 Feat/docs performance optimizations
  packages/docs/components/landing/StarsButton.vue
  packages/docs/modules/page-config/runtime/PageConfig.vue
  packages/docs/modules/page-config/runtime/index.ts
  packages/docs/nuxt.config.ts
  packages/docs/package.json
  packages/docs/page-config/services/icons-config/index.ts
  packages/docs/page-config/ui-elements/badge/examples/WithOtherComponents.vue
  packages/docs/page-config/ui-elements/icon/index.ts
  packages/docs/page-config/ui-elements/tabs/examples/Color.vue
  packages/docs/page-config/ui-elements/tabs/examples/Pagination.vue
  yarn.lock
Labels: docs

#3308 [#2859] `VaConfig` docs
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/page-config/navigationRoutes.ts
  packages/docs/page-config/services/components-config/index.ts
  packages/docs/page-config/ui-elements/config/api-options.ts
  packages/docs/page-config/ui-elements/config/examples/Default.vue
  packages/docs/page-config/ui-elements/config/examples/ExampleCard.vue
  packages/docs/page-config/ui-elements/config/index.ts
  packages/docs/page-config/ui-elements/config/translation/en.json
  packages/docs/page-config/ui-elements/config/translation/ru.json
Labels: docs

#3303 [#3183] `VaDataTable` inline editing example
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/page-config/ui-elements/data-table/examples/InlineEditing.vue
  packages/docs/page-config/ui-elements/data-table/index.ts
Labels: docs

#3247 Add continuous counter update to VaCounter close #2108
  packages/ui/build/common-config.ts
  packages/ui/src/components/va-counter/VaCounter.vue
  packages/ui/src/composables/index.ts
  packages/ui/src/composables/useLongPress.ts
Labels: feature

#3339 Fix/form docs
  package.json
  packages/docs/nuxt.config.ts
  packages/docs/package.json
  packages/docs/pages/[page-config-category]/[page].vue
  packages/sandbox/package.json
  packages/ui/src/composables/useForm/types.ts
  packages/ui/src/composables/useForm/useFormChild.ts
  packages/ui/src/composables/useForm/useFormParent.ts
  packages/ui/src/composables/useValidation.ts
  yarn.lock
Labels: docs

#3351 [#3350] Add `pointer-events-none` for header search-input
  packages/docs/components/layout/Header.vue
Labels: docs

#3364 fix(docs): 302 responses
  packages/docs/i18n.config.ts
  packages/docs/locales/index.ts
  packages/docs/nuxt.config.ts
  packages/docs/package.json
  packages/docs/translations/en.json
  packages/docs/translations/ru.json
  yarn.lock
Labels: docs, build

#3372 Remove Vue.js partner from header banner
  packages/docs/components/HeaderBanner.client.vue
Labels: docs

#3374 Remove Vue.js partner logo
  packages/docs/components/landing/Partners.vue
Labels: docs

#3352 Docs/vue component meta
  packages/docs/modules/page-config/blocks/api/component-parser/meta.ts
  packages/docs/modules/page-config/blocks/api/index.ts
  packages/docs/modules/page-config/blocks/api/index.vue
  packages/docs/modules/page-config/blocks/api/transform.ts
  packages/docs/modules/page-config/blocks/api/types.ts
  packages/docs/package.json
  packages/sandbox/package.json
  packages/ui/package.json
  yarn.lock
Labels: docs

#3376 [#3375] Unexpected theme change on Colors page
  packages/docs/composables/useTheme.ts
  packages/docs/page-config/styles/colors/components/theme.vue
Labels: docs
