Repository epicmaxco/vuestic-ui, pull requests merged in 2023-06, with the labels that each got.

#3453 [#3443] Breakpoint service hydration errors
  packages/ui/src/composables/useBreakpoint.ts
  packages/ui/src/services/breakpoint/types.ts
Labels: BUG

#3475 fix(docs): fix api table event names render
  packages/docs/modules/page-config/blocks/api/component-parser/index.ts
  packages/docs/modules/page-config/blocks/api/index.ts
  packages/docs/modules/page-config/blocks/api/transform.ts
Labels: docs

#3481 docs: structure contribution docs
  packages/docs/modules/page-config/blocks/file-structure/index.vue
  packages/docs/page-config/contribution/structure/index.ts
  packages/docs/page-config/navigationRoutes.ts
  packages/docs/translations/en.json
Labels: docs

#3493 Fix#3109/data table column width
  packages/docs/page-config/ui-elements/data-table/examples/ColumnWidth.vue
  packages/docs/page-config/ui-elements/data-table/index.ts
  packages/ui/src/components/va-data-table/VaDataTable.new.demo.vue
  packages/ui/src/components/va-data-table/VaDataTable.vue
  packages/ui/src/components/va-data-table/components/VaDataTableThRow.vue
Labels: BUG, docs

#3489 Fix#3488/focus clear icon
  packages/ui/src/components/va-select/VaSelect.vue
  packages/ui/src/composables/useFocusDeep.ts
  packages/ui/src/composables/useFocusedElement.ts
Labels: BUG

#3479 docs: update modal examples
  packages/docs/page-config/ui-elements/modal/examples/Anchor.vue
  packages/docs/page-config/ui-elements/modal/examples/CustomContent.vue
  packages/docs/page-config/ui-elements/modal/examples/ModalSizing.vue
  packages/docs/page-config/ui-elements/modal/examples/NestedModals.vue
  packages/docs/page-config/ui-elements/modal/examples/Overview.vue
  packages/docs/page-config/ui-elements/modal/examples/ScrollingLongContent.vue
  packages/docs/page-config/ui-elements/modal/examples/ToggleVisibility.vue
  packages/docs/page-config/ui-elements/modal/index.ts
Labels: docs

#3447 docs: replace inline styles with tailwind classes in docs examples
  packages/docs/page-config/extensions/ag-grid/examples/Default.vue
  packages/docs/page-config/extensions/ag-grid/examples/Editable.vue
  packages/docs/page-config/extensions/ag-grid/examples/Filter.vue
  packages/docs/page-config/extensions/ag-grid/examples/Pagination.vue
  packages/docs/page-config/extensions/ag-grid/examples/Pinning.vue
  packages/docs/page-config/extensions/ag-grid/examples/Styles.vue
  packages/docs/page-config/introduction/roadmap/components/roadmap.vue
  packages/docs/page-config/services/components-config/examples/button.vue
  packages/docs/page-config/services/icons-config/components/playground.vue
  packages/docs/page-config/styles/colors/components/Components.vue
  packages/docs/page-config/styles/colors/components/components/PaletteGridCard.vue
  packages/docs/page-config/styles/css-variables/examples/profile.vue
  packages/docs/page-config/styles/grid/examples/AlignContent.vue
  packages/docs/page-config/styles/grid/examples/AlignDefault.vue
  packages/docs/page-config/styles/grid/examples/AlignJustify.vue
  packages/docs/page-config/styles/grid/examples/AlignSelf.vue
  packages/docs/page-config/styles/grid/examples/Breakpoints.vue
  packages/docs/page-config/styles/grid/examples/Default.vue
  packages/docs/page-config/styles/grid/examples/Gutters.vue
  packages/docs/page-config/styles/grid/examples/Offsets.vue
Labels: docs

#3499 Accessibility improvements on `VaAccordion` and `VaCollapse`
  packages/docs/page-config/ui-elements/accordion/index.ts
  packages/docs/page-config/ui-elements/collapse/index.ts
  packages/ui/src/components/va-collapse/VaCollapse.vue
Labels: docs, accessibility

#3492 docs: fix fonts loading
  packages/docs/nuxt.config.ts
  packages/docs/pages/index.vue
Labels: docs

#3525 fix(docs): manual types merging
  packages/docs/modules/page-config/blocks/api/component-parser/index.ts
  packages/docs/modules/page-config/blocks/api/index.vue
  packages/docs/modules/page-config/blocks/api/types.ts
Labels: docs

#3538 feat: automated display of badges
  packages/docs/components/layout/Sidebar.vue
  packages/docs/page-config/navigationRoutes.ts
  packages/docs/page-config/ui-elements/accordion/index.ts
  packages/docs/utils/navigation/badge.ts
Labels: docs

#3548 docs: update 1.8 roadmap
  packages/docs/page-config/introduction/roadmap/images/1.8/index.ts
  packages/docs/page-config/introduction/roadmap/images/1.8/menu.vue
  packages/docs/page-config/introduction/roadmap/images/1.8/pageLayout.vue
  packages/docs/page-config/introduction/roadmap/images/index.ts
  packages/docs/page-config/introduction/roadmap/index.ts
  packages/docs/page-config/introduction/roadmap/types.ts
Labels: docs

#3450 Feat/va badge
  packages/docs/components/layout/Sidebar.vue
  packages/docs/page-config/ui-elements/badge/examples/Color.vue
  packages/docs/page-config/ui-elements/badge/examples/Default.vue
  packages/docs/page-config/ui-elements/badge/examples/NoContent.vue
  packages/docs/page-config/ui-elements/badge/examples/Offset.vue
  packages/docs/page-config/ui-elements/badge/examples/Overlap.vue
  packages/docs/page-config/ui-elements/badge/examples/Placement.vue
  packages/docs/page-config/ui-elements/badge/examples/Position.vue
  packages/docs/page-config/ui-elements/badge/examples/Transparent.vue
  packages/docs/page-config/ui-elements/badge/examples/WithOtherComponents.vue
  packages/docs/page-config/ui-elements/badge/index.ts
  packages/ui/src/components/va-badge/VaBadge.demo.vue
  packages/ui/src/components/va-badge/VaBadge.vue
  packages/ui/src/components/va-badge/_variables.scss
  packages/ui/src/components/va-badge/hooks/useFloatingPositionStyles.ts
  packages/ui/src/components/va-badge/types.ts
Labels: component

#3295 Feat/a11y avatar
  packages/docs/page-config/ui-elements/avatar/examples/Accessibility.vue
  packages/docs/page-config/ui-elements/avatar/index.ts
  packages/ui/src/components/va-avatar-group/VaAvatarGroup.vue
  packages/ui/src/components/va-avatar/VaAvatar.vue
  packages/ui/src/components/va-avatar/hooks/useAvatarProps.ts
Labels: accessibility

#3542 Add validation support for the va-radio component
  packages/ui/src/components/va-form/VaFormNew.demo.vue
  packages/ui/src/components/va-radio/VaRadio.demo.vue
  packages/ui/src/components/va-radio/VaRadio.vue
  packages/ui/src/components/va-radio/index.ts
  packages/ui/src/components/va-radio/types.ts
  packages/ui/src/composables/useSelectable.ts
Labels: BUG

#3554 fix(types): replace vue global components target module with @vue/run…
  packages/ui/src/components/va-dropdown/plugin/index.ts
  packages/ui/src/components/va-modal/plugin/index.ts
  packages/ui/src/components/va-toast/plugin/index.ts
  packages/ui/src/services/breakpoint/plugin/index.ts
  packages/ui/src/services/color/plugin/index.ts
  packages/ui/src/services/colors-classes/plugin/index.ts
  packages/ui/src/services/global-config/plugin/index.ts
  packages/ui/src/services/vue-plugin/create-vuestic/create-vuestic.ts
  packages/ui/src/services/vue-plugin/types/components.ts
  packages/ui/src/services/vue-plugin/utils/global-properties.ts
Labels: types
