Repository epicmaxco/vuestic-ui, pull requests merged in 2023-02, with the labels that each got.

#2946 feature: expose ValidationRule<T> type to consumer
  packages/ui/src/composables/useValidation.ts
  packages/ui/src/main.ts
Labels: types

#2957 [#2920] `va-navbar` center slot on mobiles fix
  packages/ui/src/components/va-navbar/VaNavbar.vue
Labels: breaking changes

#2983 Docs: Alert Component page styles ans text fixes
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/locales/zh-cn.json
  packages/docs/page-config/ui-elements/alert/examples/Border.vue
  packages/docs/page-config/ui-elements/alert/examples/Center.vue
  packages/docs/page-config/ui-elements/alert/examples/Color.vue
  packages/docs/page-config/ui-elements/alert/examples/Default.vue
  packages/docs/page-config/ui-elements/alert/examples/Icon.vue
  packages/docs/page-config/ui-elements/alert/examples/Styles.vue
  packages/docs/page-config/ui-elements/alert/examples/Title.vue
  packages/docs/page-config/ui-elements/alert/index.ts
Labels: docs

#3004 fix: add html min and max attributes support
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/locales/zh-cn.json
  packages/docs/page-config/ui-elements/input/examples/HtmlAttributes.vue
  packages/docs/page-config/ui-elements/input/index.ts
  packages/ui/src/components/va-input/VaInput.vue
Labels: component

#3012 Nuxt docs fixes
  packages/docs/components/landing/EpicmaxBanner.vue
  packages/docs/components/landing/OpenSource.vue
  packages/docs/components/landing/Partners.vue
  packages/docs/components/landing/StarsButton.vue
  packages/docs/components/landing/icons/IconAgGrid.vue
  packages/docs/components/landing/icons/IconEpicmaxGradient.vue
  packages/docs/components/landing/icons/IconFlatlogic.vue
  packages/docs/components/landing/icons/IconSpinners.vue
  packages/docs/components/landing/icons/IconVueJobs.vue
  packages/docs/components/landing/icons/iconNuxt.vue
  packages/docs/components/layout/header/VuesticDocsLogo.vue
  packages/docs/components/layout/header/VuesticLogo.vue
  packages/docs/config/icons-config/aliases.ts
  packages/docs/locales/index.ts
  packages/docs/locales/zh-cn.json
  packages/docs/modules/page-config/blocks/shared/markdown/MarkdownView.vue
  packages/docs/modules/page-config/compiler/create-importer.ts
  packages/docs/nuxt.config.ts
  packages/docs/package.json
  packages/docs/page-config/introduction/team/components/team.vue
  packages/docs/page-config/ui-elements/slider/components/Playground.vue
  packages/docs/public/landing/admin/responsive.svg
  packages/docs/public/landing/features/keyboard-navigation.svg
  packages/docs/public/landing/features/modern-browsers.svg
  packages/docs/public/landing/features/nuxt-support.svg
  packages/docs/public/landing/icon-open-source.svg
  packages/docs/tailwind.config.js
  yarn.lock
Labels: docs

#2973 Feat/ag grid
  packages/ag-grid-theme/.npmignore
  packages/ag-grid-theme/demo.html
  packages/ag-grid-theme/index.scss
  packages/ag-grid-theme/package.json
  packages/ag-grid-theme/rollup.config.js
  packages/ag-grid-theme/src/_ag-theme-vuestic-default-params.scss
  packages/ag-grid-theme/src/_ag-theme-vuestic-mixin.scss
  packages/ag-grid-theme/src/index.js
  packages/ag-grid-theme/src/styles/_variables.scss
  packages/ag-grid-theme/src/styles/index.scss
  packages/ag-grid-theme/src/styles/parts/_footer.scss
  packages/ag-grid-theme/src/styles/parts/_grid.scss
  packages/ag-grid-theme/src/styles/parts/_header.scss
  packages/ag-grid-theme/src/styles/parts/_widgets.scss
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/modules/vuestic.ts
  packages/docs/page-config/extensions/ag-grid/examples/Default.vue
  packages/docs/page-config/extensions/ag-grid/examples/Editable.vue
  packages/docs/page-config/extensions/ag-grid/examples/Filter.vue
  packages/docs/page-config/extensions/ag-grid/examples/Pagination.vue
  packages/docs/page-config/extensions/ag-grid/examples/Pinning.vue
  packages/docs/page-config/extensions/ag-grid/examples/Styles.vue
  packages/docs/page-config/extensions/ag-grid/index.ts
  yarn.lock
Labels: breaking changes, ag-grid

#3015 feat(docs): banner
  packages/docs/components/HeaderBanner.client.vue
  packages/docs/components/landing/Header.vue
  packages/docs/components/layout/Header.vue
Labels: docs

#3017 Feat/docs improvements and fixes
  packages/docs/components/landing/Admin.vue
  packages/docs/components/landing/Header.vue
  packages/docs/components/landing/NewsBanner.vue
  packages/docs/components/landing/OpenSource.vue
  packages/docs/components/landing/Preview.vue
  packages/docs/components/landing/SeamlessIntegration.vue
  packages/docs/nuxt.config.ts
  packages/docs/package.json
  packages/docs/page-config/introduction/roadmap/components/roadmap.vue
  packages/docs/page-config/introduction/roadmap/images/attributes-config.vue
  packages/docs/page-config/introduction/roadmap/images/buttons.vue
  packages/docs/page-config/introduction/roadmap/images/css-helpers.vue
  packages/docs/page-config/introduction/roadmap/images/dark-theme.vue
  packages/docs/page-config/introduction/roadmap/images/dropdown.vue
  packages/docs/page-config/introduction/roadmap/images/presets.vue
  packages/docs/page-config/introduction/roadmap/images/skeleton.vue
  packages/docs/page-config/introduction/roadmap/images/split-panel.vue
  packages/docs/page-config/introduction/roadmap/images/tree-view.vue
  packages/docs/page-config/introduction/roadmap/index.ts
  packages/docs/page-config/services/components-config/examples/priority.vue
  packages/docs/page-config/ui-elements/split/examples/Default.vue
  packages/ui/src/services/color/presets.ts
  yarn.lock
Labels: docs

#3018 docs: nuxt vuestic.config.ts
  packages/docs/config/vuestic-config.ts
  packages/docs/locales/en.json
  packages/docs/page-config/getting-started/nuxt/code/vuestic-config.ts
  packages/docs/page-config/getting-started/nuxt/index.ts
Labels: docs

#2918 Feat/skeleton
  .stylelintrc.js
  packages/docs/components/ComponentPlayground.vue
  packages/docs/composables/useComponentPlayground.ts
  packages/docs/locales/en.json
  packages/docs/page-config/navigationRoutes.ts
  packages/docs/page-config/ui-elements/skeleton/api-options.ts
  packages/docs/page-config/ui-elements/skeleton/components/Playground.vue
  packages/docs/page-config/ui-elements/skeleton/examples/Circle.vue
  packages/docs/page-config/ui-elements/skeleton/examples/Default.vue
  packages/docs/page-config/ui-elements/skeleton/examples/Group.vue
  packages/docs/page-config/ui-elements/skeleton/examples/GroupWave.vue
  packages/docs/page-config/ui-elements/skeleton/examples/Headline.vue
  packages/docs/page-config/ui-elements/skeleton/examples/Loading.vue
  packages/docs/page-config/ui-elements/skeleton/examples/Rounded.vue
  packages/docs/page-config/ui-elements/skeleton/examples/Square.vue
  packages/docs/page-config/ui-elements/skeleton/examples/Text.vue
  packages/docs/page-config/ui-elements/skeleton/index.ts
  packages/nuxt/src/config/components.ts
  packages/ui/.stylelintrc.js
  packages/ui/src/components/index.ts
  packages/ui/src/components/va-skeleton/VaSkeleton.demo.vue
  packages/ui/src/components/va-skeleton/VaSkeleton.vue
  packages/ui/src/components/va-skeleton/_variables.scss
  packages/ui/src/components/va-skeleton/components/VaSkeletonGroup.vue
  packages/ui/src/components/va-skeleton/index.ts
  packages/ui/src/components/va-skeleton/tests/VaSkeleton.spec.ts
  packages/ui/src/services/vue-plugin/components.ts
Labels: component

#3016 Docs/remove old new badge
  packages/docs/components/ComponentPlayground.vue
  packages/docs/modules/page-config/blocks/shared/markdown/MarkdownView.vue
  packages/docs/page-config/navigationRoutes.ts
Labels: docs

#2906 feature: implement stepper component
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/page-config/navigationRoutes.ts
  packages/docs/page-config/ui-elements/skeleton/index.ts
  packages/docs/page-config/ui-elements/stepper/api-options.ts
  packages/docs/page-config/ui-elements/stepper/examples/Custom.vue
  packages/docs/page-config/ui-elements/stepper/examples/Default.vue
  packages/docs/page-config/ui-elements/stepper/examples/Icons.vue
  packages/docs/page-config/ui-elements/stepper/examples/Minimal.vue
  packages/docs/page-config/ui-elements/stepper/examples/Vertical.vue
  packages/docs/page-config/ui-elements/stepper/index.ts
  packages/nuxt/src/config/components.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/va-stepper/VaStepper.demo.vue
  packages/ui/src/components/va-stepper/VaStepper.vue
  packages/ui/src/components/va-stepper/VaStepperControls.vue
  packages/ui/src/components/va-stepper/VaStepperStepButton.vue
  packages/ui/src/components/va-stepper/_variables.scss
  packages/ui/src/components/va-stepper/index.ts
  packages/ui/src/components/va-stepper/types.ts
  packages/ui/src/services/vue-plugin/components.ts
Labels: docs, FEATURE

#3033 docs: make inline text reasonable size
  packages/docs/modules/page-config/blocks/api/components/api-table.vue
  packages/docs/modules/page-config/blocks/table/index.vue
Labels: docs

#3063 fix: landing mobile menu
  packages/docs/components/landing/Header.vue
  packages/docs/public/landing/cross.svg
  packages/docs/public/landing/hamburger.svg
Labels: docs

#3051 fix(#3046): remove vuestic from excluded optimizeDeps
  packages/docs/modules/vuestic.ts
Labels: docs

#3068 fix(#3067): rollback component type declaration
  packages/ui/src/services/vue-plugin/types/components.ts
Labels: build

#3085 feat: remove extra padding
  packages/docs/components/layout/Sidebar.vue
Labels: docs

#3088 fix: remove units for height and width attributes; fix svg
  packages/docs/components/landing/Admin.vue
  packages/docs/components/landing/Header.vue
  packages/docs/components/landing/OpenSource.vue
  packages/docs/components/landing/Preview.vue
  packages/docs/components/landing/SeamlessIntegration.vue
  packages/docs/page-config/introduction/team/components/team.vue
  packages/docs/pages/index.vue
Labels: docs

#3074 Change Old typography classes in input example to new typography classes
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/page-config/styles/css-variables/components/convention.vue
  packages/docs/page-config/styles/css-variables/examples/profile.vue
  packages/docs/page-config/ui-elements/dropdown/examples/PlacementAndOffset.vue
  packages/docs/page-config/ui-elements/input/examples/InputClass.vue
  packages/docs/page-config/ui-elements/tree-view/examples/CustomizableContent.vue
  packages/ui/src/components/va-input/VaInput.demo.vue
Labels: docs
