Repository epicmaxco/vuestic-ui, pull requests merged in 2023-03, with the labels that each got.

#3103 fix(nuxt): types build
  package.json
  yarn.lock
Labels: nuxt

#3094 feat: add gravatar usage example
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/page-config/ui-elements/avatar/examples/Fallback.vue
  packages/docs/page-config/ui-elements/avatar/examples/GravatarIntegration.vue
  packages/docs/page-config/ui-elements/avatar/index.ts
Labels: docs

#3102 Docs/fix incorrect imports
  packages/docs/modules/vuestic.ts
  packages/docs/page-config/services/breakpoints/examples/Default.vue
  packages/docs/page-config/services/colors-classes/examples/Default.vue
  packages/docs/page-config/services/colors-config/examples/change-colors.vue
  packages/docs/page-config/services/colors-config/examples/css-variable.vue
  packages/docs/page-config/services/components-config/examples/button.vue
  packages/docs/page-config/services/icons-config/code/setup-example.ts
  packages/docs/page-config/services/icons-config/components/use-copy-to-clipboard.ts
  packages/docs/page-config/styles/colors/components/components/colors-grid.vue
  packages/docs/page-config/styles/colors/components/theme.vue
  packages/docs/page-config/styles/grid/examples/AlignContent.vue
  packages/docs/page-config/styles/grid/examples/AlignDefault.vue
  packages/docs/page-config/styles/grid/examples/AlignJustify.vue
  packages/docs/page-config/styles/grid/examples/AlignSelf.vue
  packages/docs/page-config/styles/grid/examples/Breakpoints.vue
  packages/docs/page-config/styles/grid/examples/Default.vue
  packages/docs/page-config/styles/grid/examples/Gutters.vue
  packages/docs/page-config/styles/grid/examples/Offsets.vue
  packages/docs/page-config/ui-elements/file-upload/examples/Undo.vue
  packages/docs/page-config/ui-elements/hover/examples/Slot.vue
  packages/docs/page-config/ui-elements/modal/examples/Create.vue
  packages/docs/page-config/ui-elements/navbar/examples/Colors.vue
  packages/docs/page-config/ui-elements/pagination/examples/Colors.vue
  packages/docs/page-config/ui-elements/stepper/examples/Custom.vue
Labels: docs

#3101 fix: remove grid and reset styles from config defaults
  packages/docs/modules/vuestic.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/types.ts
Labels: ON HOLD, nuxt

#3055 Fix/ssr css variables
  packages/ui/build/common-config.ts
  packages/ui/build/plugins/component-v-bind-fix.spec.ts
  packages/ui/build/plugins/component-v-bind-fix.ts
  packages/ui/src/composables/useCSSVariables.ts
Labels: build

#3073 Docs/i18n split
  packages/docs/locales/en.json
  packages/docs/locales/index.ts
  packages/docs/modules/page-config/composables/useCompiler.ts
  packages/docs/modules/page-config/i18n/export-translations.ts
  packages/docs/modules/page-config/i18n/tests/export-translations.test.ts
  packages/docs/modules/page-config/i18n/tests/translation/en.json
  packages/docs/modules/page-config/runtime/index.ts
  packages/docs/modules/page-config/runtime/usePageConfig.ts
  packages/docs/nuxt.config.ts
  packages/docs/page-config/getting-started/testing/code/jest.json
  packages/docs/page-config/getting-started/testing/code/setup-file.js
  packages/docs/page-config/getting-started/testing/code/vitest.config.js
  packages/docs/page-config/getting-started/testing/index.ts
  packages/docs/page-config/getting-started/testing/translation/en.json
  packages/docs/page-config/navigationRoutes.ts
  packages/docs/pages/[page-config-category]/[page].vue
Labels: docs

#3115 Feat/colors extensions
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/page-config/extensions/unocss/code/unocss.config.js
  packages/docs/page-config/extensions/unocss/index.ts
  packages/docs/page-config/extensions/unocss/translation/en.json
  packages/docs/page-config/extensions/unocss/translation/ru.json
  packages/docs/page-config/navigationRoutes.ts
Labels: docs, integration

#3145 fix: detect active child route and set class
  packages/docs/components/layout/Sidebar.vue
Labels: docs

#3143 Feat/image usage example
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/page-config/ui-elements/image/code/import-image.vue
  packages/docs/page-config/ui-elements/image/code/use-public-dir.vue
  packages/docs/page-config/ui-elements/image/index.ts
Labels: docs

#3164 Fix/navigation routes fix
  packages/docs/pages/[page-config-category]/[page].vue
Labels: docs

#3152 refactor: rename dev env variable
  packages/ui/src/components/va-option-list/VaOptionList.vue
  packages/ui/src/components/va-pagination/VaPagination.vue
  packages/ui/src/composables/useBem.ts
  packages/ui/src/composables/useColors.ts
  packages/ui/src/composables/useDeprecated.ts
  packages/ui/src/composables/useElementBackground/utils.ts
  packages/ui/src/utils/console.ts
  packages/ui/src/utils/env.ts
Labels: BUG

#3177 Feat/confirm
  packages/docs/locales/en.json
  packages/docs/modules/page-config/blocks/api/components/api-table.vue
  packages/docs/modules/page-config/blocks/api/index.ts
  packages/docs/modules/page-config/blocks/api/index.vue
  packages/docs/modules/page-config/blocks/api/types.ts
  packages/docs/page-config/navigationRoutes.ts
  packages/docs/page-config/ui-elements/confirm/code/composition-api.js
  packages/docs/page-config/ui-elements/confirm/code/options-api.js
  packages/docs/page-config/ui-elements/confirm/examples/Default.vue
  packages/docs/page-config/ui-elements/confirm/examples/Props.vue
  packages/docs/page-config/ui-elements/confirm/index.ts
  packages/docs/page-config/ui-elements/confirm/translation/en.json
  packages/ui/src/components/va-modal/hooks/useModal.ts
  packages/ui/src/components/va-modal/types.ts
  packages/ui/src/components/va-modal/useConfirm.demo.vue
  packages/ui/src/utils/component-options/index.ts
  packages/ui/src/utils/component-options/types.ts
Labels: docs, component

#3189 Feat/refactor docs language switcher
  packages/docs/components/landing/Header.vue
  packages/docs/components/layout/Header.vue
  packages/docs/components/layout/LanguageDropdown.vue
  packages/docs/components/layout/header/LanguageDropdown.vue
  packages/docs/composables/useLanguageSwitcher.ts
  packages/docs/nuxt.config.ts
Labels: docs

#3202 Feat/extended input example
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/page-config/ui-elements/input/examples/Customize.vue
  packages/docs/page-config/ui-elements/input/index.ts
  packages/ui/src/components/va-input/components/VaInputWrapper/VaInputWrapper.vue
Labels: docs

#3207 Update Colors Config docs
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/page-config/services/colors-config/examples/change-colors.vue
  packages/docs/page-config/services/colors-config/examples/css-variable.vue
  packages/docs/page-config/services/colors-config/index.ts
Labels: docs

#3220 [#2907] `VaSlider` `stateful` prop
  packages/ui/src/components/va-slider/VaSlider.demo.vue
  packages/ui/src/components/va-slider/VaSlider.vue
Labels: feature

#3244 Feat/integrate highlightjs
  packages/docs/components/landing/Customize.vue
  packages/docs/locales/en.json
  packages/docs/locales/ru.json
  packages/docs/modules/page-config/blocks/shared/code/CodeHighlightWrapper.vue
  packages/docs/modules/page-config/blocks/shared/code/CodeView.vue
  packages/docs/modules/page-config/blocks/shared/code/PrismWrapper.vue
  packages/docs/package.json
  yarn.lock
Labels: docs

#3225 feat: update vite
  packages/sandbox/package.json
  packages/tailwind/package.json
  packages/ui/build/plugins/append-component-css.ts
  packages/ui/build/plugins/fabrics/create-dist-transform-plugin.ts
  packages/ui/package.json
  yarn.lock
Labels: dependencies
